on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  release:
    types:
    - published

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install JDK 1.8
      uses: actions/setup-java@v4
      with:
        java-version: 8
        distribution: temurin
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Run tests
      run: sbt +test scripted
    - name: Lint
      run: sbt scalafmtCheckAll
    - name: Release
      if: ${{ github.event_name == 'release' }}
      env:
        CI_SNAPSHOT_RELEASE: "+publishSigned"
        PGP_PASSPHRASE: ${{ secrets.PGP_PASSWORD }}
        PGP_SECRET: ${{ secrets.PGP_SECRET }}
        SONATYPE_USERNAME: soundcloud
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      run: sbt ci-release
